h1.contact_discord_title {
	position: relative;
	top: 30px;
	font-family: "Lucida Console", Monospace, Courier;
	font-weight: 900;
	text-decoration: underline;
	font-size: 45x;
	text-align: left;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}

h1.contact_email_title{
	position: relative;
	top: 60px;
	font-family: "Lucida Console", Monospace, Courier;
	font-weight: 900;
	text-decoration: underline;
	font-size: 45x;
	text-align: left;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}

p.contact_info_discord {
	font-size: 25px;
	color: #000000;
	position: relative;
	margin: 0 auto;
	top: 40px;
	font-family: "Lucida Console", Monospace, Courier;
	max-width: 900px;
	margin-left: auto;
	margin-right; auto;
}

p.contact_info_email {
	font-size: 25px;
	color: #000000;
	position: relative;
	margin: 0 auto;
	top: 70px;
	font-family: "Lucida Console", Monospace, Courier;
	max-width: 900px;
	margin-left: auto;
	margin-right; auto
}

span.DC_Username {
	font-size: 25px;
	color: #9099A4;
	position: relative;
	margin: 0 auto;
	top: 0px;
	font-family: "Lucida Console", Monospace, Courier;
	max-width: 900px;
	margin-left: auto;
	margin-right; auto;	
}

span.email_address {
	font-size: 25px;
	color: #9099A4;
	position: relative;
	margin: 0 auto;
	top: 0px;
	font-family: "Lucida Console", Monospace, Courier;
	max-width: 900px;
	margin-left: auto;
	margin-right; auto;	
}