* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
}

h1.accepting_the_terms_title {
	color: #ffffff;
	position: relative;
	top: 50px;
	font-family: "Sans Serif", Monospace, Courier;
	font-weight: 900;
	text-decoration: underline;
	font-size: 45x;
	text-align: center;
	line-height: 37px;
}

h1.terms_of_service_title {
	color: #ffffff;
	position: relative;
	top: 50px;
	font-family: "Sans Serif", Monospace, Courier;
	font-weight: 900;
	text-decoration: underline;
	font-size: 45x;
	text-align: center;
	line-height: 37px;
}

p.intro {
	font-size: 25px;
	color: #DCD4CC;
	position: relative;
	margin: 0 auto;
	top: 50px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	line-height: 37px;
	font-weight: 600;
}

p.accepting_the_terms_paragraph {
	font-size: 22px;
	color: #DCD4CC;
	position: relative;
	margin: 0 auto;
	top: 50px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	line-height: 37px;
	font-weight: 600;
}

p.terms_of_service_paragraph {
	font-size: 22px;
	color: #DCD4CC;
	position: relative;
	margin: 0 auto;
	top: 50px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	line-height: 37px;
	font-weight: 600;
}

li.terms_of_service_list {
	font-size: 22px;
	color: #DCD4CC;
	position: relative;
	margin: 0 auto;
	top: 50px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;	
	line-height: 37px;
	font-weight: 600;
}

span.restrictions_marked {
	font-weight: 900;
	text-decoration: underline;
	font-size: 23px;
	color: #FFFFF;
	position: relative;
	margin: 0 auto;
	top: 0px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;	
	line-height: 37px;
}

a.new_color {
	color: #3DAEFF;
}
