h1.request_show_policy_title {
	color: #ffffff;
	position: relative;
	top: 50px;
	font-family: "Sans Serif", Monospace, Courier;
	font-weight: 900;
	text-decoration: underline;
	font-size: 45x;
	text-align: center;
	line-height: 37px;
}

p.intro_request_show_policy {
	font-size: 25px;
	color: #DCD4CC;
	position: relative;
	margin: 0 auto;
	top: 50px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	line-height: 37px;
	font-weight: 600;
}

p.request_show_policy_explained {
	font-size: 22px;
	color: #DCD4CC;
	position: relative;
	margin: 0 auto;
	top: 50px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	line-height: 37px;
	font-weight: 600;
}

li.request_show_policy_list {
	font-size: 22px;
	color: #DCD4CC;
	position: relative;
	margin: 0 auto;
	top: 50px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;	
	line-height: 37px;
	font-weight: 600;
}

span.intro_marked {
	font-weight: 900;
	text-decoration: underline;
	font-size: 25px;
	position: relative;
	margin: 0 auto;
	top: 0px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;	
	line-height: 37px;
	color: #FFFFF;
}

span.policy_marked {
	font-weight: bold;
	text-decoration: underline;
	font-size: 23px;
	position: relative;
	margin: 0 auto;
	top: 0px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;	
	line-height: 37px;
	font-weight: 900;
	color: #FFFFF;
}

a.new_color {
	color: #3DAEFF;
}
