h1.contact_discord_title {
	position: relative;
	top: 30px;
	font-family: "Sans Serif", Monospace, Courier;
	font-weight: 900;
	text-decoration: underline;
	font-size: 45x;
	text-align: left;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	line-height: 30px;
	color: #FFFFFF;
}

h1.contact_email_title{
	position: relative;
	top: 60px;
	font-family: "Sans Serif", Monospace, Courier;
	font-weight: 900;
	text-decoration: underline;
	font-size: 45x;
	text-align: left;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	line-height: 30px;
	color: #FFFFFF;
}

p.contact_info_discord {
	font-size: 25px;
	color: #FFFFFF;
	position: relative;
	margin: 0 auto;
	top: 40px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	line-height: 30px;
	font-weight: 900;
}

p.contact_info_email {
	font-size: 25px;
	color: #FFFFFF;
	position: relative;
	margin: 0 auto;
	top: 70px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto
	line-height: 30px;
	font-weight: 900;
}

span.DC_Username {
	font-size: 25px;
	color: #3DAEFF;
	position: relative;
	margin: 0 auto;
	top: 0px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;	
	line-height: 30px;
	font-weight: 600;
}

span.email_address {
	font-size: 25px;
	color: #3DAEFF;
	position: relative;
	margin: 0 auto;
	top: 0px;
	font-family: "Sans Serif", Monospace, Courier;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;	
	line-height: 30px;
	font-weight: 600;
}

a.new_color {
	color: #3D8EFF;
}